<div id="liveLayout" class="col-md-9" ng-controller="LiveCtrl">
  <div class="col-md-4 row row-no-padding">
    <h1>Show Dates</h1>
    <div class="scrol1" style='height:90vh; overflow:auto;'>
      <span class="scrolText">
        <div id='tour'>
          <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/keebz" class="bit-widget-initializer" data-artist="keebz" data-link-color="#9125F3" data-text-color="#000000" data-separator-color="#A9F6FE">keebz Tour Dates</a>
        </div>
      </span>
    </div>
  </div>

  <div class="col-md-4 row row-no-padding">
    <h1>Booking</h1>
    <div class="scrol2" style='height:90vh; overflow:auto;'>
      <span class="scrolText">
        <h3 style='color:black;'>For all booking inquires:</h3>
          <img class='col-md-6' id='contactLogo' src="img/contact/keebzSmLogo.png">

          <p class='col-md-6' id='contact' style='color:black;'>
            Mgmt: <br>
            <a style='color:blue;' class='email' href="mailto:cassie@keebz.com?Subject=From%20Keebz.com" target="_top">cassie@keebz.com</a><br>
            Booking: <br>
            <a style='color:blue;' class='email' href="mailto:info@motionmusic.us?Subject=From%20Keebz.com" target="_top">info@motionmusic.us</a>
          </p>

        <h4 class="col-md-12" id='location' align='center'>
          Keebz is currently located in: <br>
          (Los Angeles, CA) - (Nasville, TN) - (Tampa, FL)
        </h4>
      </span>
    </div>
  </div>

  <div class="col-md-4 row row-no-padding">
    <h1>Social</h1>
    <div class="scrol3" style='height:90vh;; overflow:auto;'>
      <h5 id="twitterTab"><img id="twitterBird" src="img/twitterBird.png"> @djkeebz</h5>
      <h5 id="facebookTab"><img id="fbLike" src="img/fbLike.png"> thedjkeebz</h5>
      <span class="scrolText">
        <div id='social' style="text-align:center">
          <div id='twitter'>
            <a class="twitter-timeline" height="800" href="https://twitter.com/djkeebz" data-widget-id="303592877282443264" data-chrome="transparent">Tweets by @djkeebz</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div id='facebook'>
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fthedjkeebz&amp;width&amp;height=800&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:800px;" allowTransparency="true"></iframe>
          </div>
        </div>


      </span>
    </div>
  </div>
</div>
